<!-- Main Container -->
<div class="container">
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Productos</h4>
  </header>
  <!-- Stats Gallery Section -->
  <div class="gallery">
    <div class="thumbnail" *ngFor="let producto of productos">
      <h4 class="titulovistpre">{{producto.titulo}}</h4>
      <p class="precio">${{producto.precio}}</p>
		<a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="imagen-pro"/></a>
      <p class="desc">
        {{producto.descripcion}}
      </p>
    </div>
	</div>
  </div>
<!-- Main Container Ends -->
