@charset "utf-8";
/* CSS Document */

.tabla-prod {
  margin-left: 25%;
  margin-right: 45%;
  margin-top: 2%;
  width: 74%;
}
.titulo {
  margin-left: 24%;
  text-align: center;
}

.contvistap {
  width: 100%;
  height: 100%;
  padding-right: 2%;
  margin-bottom: 1%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #003;
  border-right-color: #003;
  border-bottom-color: #003;
  border-left-color: #003;
}
.tabla-prod tr {
  margin-right: -60%;
}
.titulovistpre,
.precio {
  padding-left: 2%;
}

.imagen-pro {
  margin-left: 10%;
  margin-right: 25%;
  width: 200px;
  height: 200px;
}
.desc {
  padding-left: 2%;
  margin-right: 2%;
  text-align: justify;
}
@media (max-width: 768px) {
  .imagen-pro {
    width: 200px;
    height: 200px;
  }
  .titulo {
    text-align: center;
  }
  .tabla-prod {
    margin-left: 2%;
  }
}
