<div class="rowmenu">
  <ul>
      <li><a (click)="ingresar()"><img height="40px" src="/../../../assets/img/perfil-del-usuario.png" alt="">Perfil</a></li>
      <li><a  [routerLink]="['amigos']"><img height="40px" src="/../../../assets/img/seguidores.png" alt="">Amigos</a></li>
      <li><a [routerLink]="['marketplace']"><img height="40px" src="/../../../assets/img/marketplace.png" alt="">Marketplace</a></li>
      <li><a [routerLink]="['evento']"><img height="40px" src="/../../../assets/img/calendario.png" alt="">Eventos</a></li>
      <li><a [routerLink]="['chat']"><img height="40px" src="/../../../assets/img/enviar-correo.png" alt="">Chats</a></li>
    </ul>
</div>
