.historias {
  border: 0.1rem solid #f2f3f4;
  background-color: white;
  margin-left: 5%;
  margin-right: 80%;
  margin-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  width: 85%;
}
.historia_usuario img {
  height: 40px;
  width: 40px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 0.1rem solid #f2f3f4;
  background-size: 100% auto;
}
.historias ul {
  display: flex;
  justify-content: center;
}
.historias ul li {
  margin: 0 0.75rem;
  list-style: none;
  font-size: 0.7rem;
}
