<div class="historias">
  <ul>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/img/usuario.jpg" width="43" height="43" alt="" /> <br>
        Username1
      </div>
    </li>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/img/usuario.jpg" width="43" height="43" alt="" /> <br>
        Username2
      </div>
    </li>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/img/usuario.jpg" width="43" height="43" alt="" /> <br>
        Username3
      </div>
    </li>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/img/usuario.jpg" width="43" height="43" alt="" /> <br>
        Username4
      </div>
    </li>
  </ul>
</div>
