<div class="historias">
  <ul>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/images/user-7.jpg"  alt="" /> <br>
        Francine Smith
      </div>
    </li>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/images/user-2.jpg" alt="" /> <br>
        Jake Parker
      </div>
    </li>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/images/user-6.jpg"  alt="" /> <br>
        Marina Polson
      </div>
    </li>
    <li>
      <div class="historia_usuario">
        <img src="/../../../assets/images/user-5.jpg" alt="" /> <br>
        Juan Perez
      </div>
    </li>
  </ul>
</div>
