<section>
  <article>
    <div class="post">
      <h1>
        <img alt="user_post" clas="user_post" src="/../../../assets/img/usuario.png">
        Titulo de la pagina

      </h1>
      <img class="img_post" src="http://lorempixel.com/400/200/" />
      <nav>
        <ul>
          <li>
            <a href="#">
              <img alt="mensajes" src="/../../../assets/img/mensaje.png" />
            </a>
          </li>
          <li>
            <a href="#">
              <img alt="notificaciones" src="/../../../assets/img/notificaciones.png">

            </a>
          </li>
        </ul>
      </nav>
      <p>
        <span class="comentario_user">
          Usuario
        </span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in pehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non odent, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <span class="time_comentario_user">
          Hace 1 hora
        </span>
      </p>
      <hr />
      <input class="texto_comentario" placeholder="Agrega un comentario..." type="text">
    </div>
  </article>
</section>
