<div class="row shadow">
  <div class="row_title">
    <span>Eventos</span>
  </div>
  <div class="row_contain">
    <app-invitacion-evento></app-invitacion-evento>
  </div>
</div>
<div class="row shadow">
  <div class="row_title">
      <span>Actividades</span>
  </div>
  <div class="row_contain" *ngFor="let notificacion of notificaciones">
      <img src="{{notificacion.imagen_usuario}}" alt="" />
      <span>
        <span class="fecha-notif">{{formato(notificacion.fecha_hora_notif)}}</span>
        {{notificacion.contenido_notif}}
      </span>
  </div>
</div>
<div class="row shadow">
<div class="row_title">
  <span>Pages You May Like</span>
  <a href="#">ver mas ..</a>
</div>
<div class="row_contain">
  <img src="/../../../assets/images/group-1.png" alt="" />
  <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
</div>
<div class="row_contain">
  <img src="/../../../assets/images/group-2.jpg" alt="" />
  <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
</div>
<div class="row_contain">
  <img src="/../../../assets/images/group-3.png" alt="" />
  <span><a href=""><b>Pixel Digital Design</b></a><br>Company</span>
</div>
<div class="row_contain">
  <img src="/../../../assets/images/group-1.png" alt="" />
  <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
</div>
<div class="row_contain">
  <img src="/../../../assets/images/group-2.jpg" alt="" />
  <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
</div>
<div class="row_contain">
  <img src="/../../../assets/images/group-3.png" alt="" />
  <span><a href=""><b>Pixel Digital Design</b></a><br>Company</span>
</div>
</div>
