
/* CONTAIN */
.all {width: 90%;margin: 30px auto;display: flex;font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;margin-top: 80px}

.left_row {width: 100%;position: fixed;}
.rowfixed {width: 25%;}
.row {width: 95%;margin: 0px auto;display: block;background-color: white;color: #515365;margin-bottom: 20px;border: 1px solid #e6ecf5;}
.row_title {padding: 10px;border-bottom: 1px solid #e6ecf5;letter-spacing: 1px;}
.row_title span {padding: 20px;font-size: .775rem;font-weight: 700;}
.row_title a {font-size: .675rem;font-weight: 700;color:#FF5E3A;}
.row_title a:hover {text-decoration: underline;}
.row_contain {display: flex;align-items:center;width: 90%;margin: 0px auto;padding-bottom: 10px;padding-top: 10px;margin: 0px auto;}
.row_contain img {height: 40px;width:40px;border-radius: 200px;margin: 0px 10px;}
.row_contain span {font-size: 11px;margin-left: 10px;width: 70%}
.row_contain span b {font-size: 12px;color: #515365;cursor: pointer;}
.row_contain span b:hover {color: #FF5E3A;}
.row_contain button {padding: 10px;padding-right:15px;padding-left:15px;background-color: #38A9FF;border:none;color:white;border-radius: 5px;cursor: pointer;margin-left: 10px;}
.row_contain button:hover {background-color: #47bcff;}

.left_row_profile {width: 90%;margin: 0px auto;height: 150px;}
#portada {width: 100%;height: 100px;position: absolute;}
.left_row_profile {position: relative;display: flex;}
.left_row_profile span {padding-top: 100px;padding-left: 10px}
.left_row_profile span p {font-size: 12px}
#profile_pic {width: 100px;height: 100px;border-radius: 200px;border: 3px solid #ff5e3a;margin-top: 40px;}

/* MENU */
.rowmenu {
  width: 90%;
  margin: 0px auto;
  display: block;
  bottom: 0px;
  overflow-x: hidden;
  height: 26vw;
}
.rowmenu ul {
  padding-left: 20px;
}
.rowmenu li {display: block;font-size: 19px;cursor: pointer;font-size: 12px;padding-bottom: 10px;padding-top: 10px;border-bottom: 1px solid #e6ecf5;cursor: inherit;}
.rowmenu li a{color: #a3a3a3;cursor: pointer;}
.rowmenu li i {padding-right: 10px}
.rowmenu ul li a:hover{color: #ff5e3a;}
#rowmenu-selected {text-decoration: underline;}
#rowmenu-selected i {color: #ff5e3a;}
.primarymenu {color: #ff5e3a;}


.suggestions_row {width: 25%;}
.loadmorefeed {text-align: center;background-color: #CCD1E0;width:50px;height:50px;border-radius: 100%;color: #FF763A;line-height: 3}


@media screen and (max-width: 1200px) {
.navbar_logo {width: 70%;}
.navbar_page {display: none;}
.navbar_search {display: none;}
.navbar_icons {display: none;}
.navbar_user {display: none;}
.navbar_menuicon {display: inline;width: 20%;height: 50px;line-height: 2.3;text-align: center;font-size: 20px;background-color: #121529;color:white;cursor: pointer;}
.all {display: block;width: 100%;}
.left_row {display: none;}
.right_row {width: 100%;margin: 0px auto;}
.publish_icons ul {width: 65%;}
.feed_content_image iframe {height: 250px;}
.suggestions_row {width: 100%;margin-top: 20px}
.feed_footer_left {width: 55%;}
.feed_footer_left li {height: 50px;display: inline-block;line-height: 2.5;cursor: pointer;font-size: 14px;line-height: 3;text-align: center;margin-left: 10px}
.feed_footer_left li span {font-size: 10px;}
.feed_footer_left li i {font-size: 16px;}
.feed_footer_right {width: 40%;text-align: right;}
.feed_footer_right li {display: inline-block;line-height: 0;cursor: pointer;font-size: 12px;text-align: center;margin-right: 10px;line-height: 3.5;}
.feed_footer_right li i {font-size: 16px;padding-right: 5px}
.mobilemenu {width: 50%;}
.pi-input-lg {width: 90%;}
.pi-input-md {width: 90%;}
.pi-input-md input {width: 90%;padding: 5px;padding-top: 0px;color: #515365;font-size: .875rem;}
.pi-input select {background-color: transparent;}
.pi-input-lgg {width: 90%;}
 }


 @media screen and (max-width: 600px) {
.feed_footer_left {width: 18%;}
.feed_footer_left li {height: 50px;display: inline-block;line-height: 2.5;cursor: pointer;font-size: 14px;line-height: 3;text-align: center;margin-left: 10px}
.feed_footer_left li span {font-size: 10px;display: none}
.feed_footer_left li i {font-size: 16px;}
.publish_icons ul {width: 60%;margin-left: 10px;}
.feed_footer_right {width: 70%;text-align: right;}
.feed_content_image iframe {height: 200px;}
.feed_footer_right li {display: inline-block;line-height: 0;cursor: pointer;font-size: 12px;text-align: center;margin-right: 10px;line-height: 3.5;}
.feed_footer_right li i {font-size: 16px;padding-right: 5px}
.loadmorefeed {display: none}
.mobilemenu {width: 80%;}
.friend_title button{padding:5px 15px;}
.friend_title span {padding-left: 10px;}
.pi-input-lg {width: 90%;}
.pi-input-md {width: 90%;}
.pi-input-md input {width: 90%;padding: 5px;padding-top: 0px;color: #515365;font-size: .875rem;}
.pi-input select {background-color: transparent;}
.pi-input-lgg {width: 90%;}
.row_contain_profilephotospage ul li img {width: 90%;height: 200px;border-radius: 4px}
 }
 .fecha-notif{
  font-weight: bold;
  margin-right: 10%;
 }
