<main class="contenedor">
  <article class="principal">
    <div class="img-presentacion"> <img src="http://lorempixel.com/400/200" /> </div>
    <div class="registro">
      <h1>
        Red Social
      </h1>
      <form>
        <div class="grupo-formulario">
          <input type="email" required="true" placeholder="Correo Electronico">
          <input type="password" placeholder="Ingrese contraseña">
          <button>Iniciar Sesión </button>
        </div>
      </form>
      <p> <a href="#">¿Olvidaste tu contraseña?</a>  </p>
    </div>
    <div class="enlace-login">
      <p>¿No tienes una cuenta? <a href="registro">Registrate</a></p>
    </div>
  </article>

</main>
<footer>
  <ul>
    <li>
      INFORMACIÓN
    </li>
    <li>
      AYUDA
    </li>
    <li>
      PRENSA
    </li>
    <li>
      EMPLEO
    </li>
    <li>
      PRIVACIDAD
    </li>
    <li>
      CONDICIONES
    </li>
    <li>
      UBICACIONES
    </li>
    <li>
      CUENTAS DESTACADAS
    </li>
    <li>
      © 2020 Henry Simbaña -Bryan Gonzales -Marvin Valarezo
    </li>
  </ul>
</footer>


