
  <div class="row shadow">
    <div class="row_title">
        <span>Configuración de Perfil</span>
    </div>
    <div class="menusetting_contain">
        <ul>
            <li>
                <a [routerLink]="['/configuracion/informacion-personal']">Información Personal</a>
            </li>
            <li>
                <a [routerLink]="['/configuracion']" id="settings-select">Configuración de la cuenta</a>
            </li>
            <li>
                <a  [routerLink]="['/configuracion/cambiar-contrasena']">Cambiar contraseña</a>
            </li>
        </ul>
    </div>
</div>
<div class="row shadow">
    <div class="row_title">
        <span>Paginas que te gustan</span>
        <a href="#">ver mas..</a>
    </div>
    <div class="row_contain">
        <img src="/../../../assets/images/group-1.png" alt="" />
        <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
    </div>
    <div class="row_contain">
        <img src="/../../../assets/images/group-2.jpg" alt="" />
        <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
    </div>
    <div class="row_contain">
        <img src="/../../../assets/images/group-3.png" alt="" />
        <span><a href=""><b>Pixel Digital Design</b></a><br>Company</span>
    </div>
    <div class="row_contain">
        <img src="/../../../assets/images/group-1.png" alt="" />
        <span><a href=""><b>The Marina Bar</b></a><br>Restaurant / Bar</span>
    </div>
    <div class="row_contain">
        <img src="/../../../assets/images/group-2.jpg" alt="" />
        <span><a href=""><b>Caverna Roch</b></a><br>Rock / Band</span>
    </div>
    <div class="row_contain">
        <img src="/../../../assets/images/group-3.png" alt="" />
        <span><a href=""><b>Pixel Digital Design</b></a><br>Company</span>
    </div>
</div>
