
  <div class="row shadow">
    <div class="row_title">
        <span>Configuración de Perfil</span>
    </div>
    <div class="menusetting_contain">
        <ul>
            <li>
                <a [routerLink]="['/configuracion/informacion-personal']">Información Personal</a>
            </li>
            <li>
                <a [routerLink]="['/configuracion']" id="settings-select">Configuración de la cuenta</a>
            </li>
            <li>
                <a  [routerLink]="['/configuracion/cambiar-contrasena']">Cambiar contraseña</a>
            </li>
        </ul>
    </div>
</div>

