<div class="contenedor">
  <div class="barra_lateral">
    <h1 class="titulo-registro">Registro de Productos</h1>
    <div class="contenido-form">
      <label class="etiqueta">Producto</label>
      <input
      [(ngModel)]="producto.nombre_producto"
        class="form-control"
        name="titulo"
        type="text"
        maxlength="50"
      />
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Descripcion Producto</label>
      <textarea
        class="form-control"
        name="descripcion-producto"
        cols="30"
        rows="2"
      ></textarea>
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Precio</label>
      <input
      [(ngModel)]="producto.precio_product"
        class="form-control"
        name="precio"
        type="text"
        maxlength="50"
      />
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Categoria</label>
      <select>
        <option
          *ngFor="let categoria of catalogos"
          [value]="detalleprod.id_catalogo"
        >
          {{ categoria.nombre_catalogo }}
        </option>
      </select>
    </div>
    <div class="contenido-form">
      <label class="etiqueta">Tienda</label>
      <select>
        <option *ngFor="let tienda of tiendas" [value]="producto.id_mark">
          {{ tienda.contenido_mark }}
        </option>
      </select>
      <button (click)="control_botontn()" class="btntienda">+</button>
    </div>
    <div *ngIf="existetienda">
      <div class="contenido-form">
        <label class="etiqueta">Nombre de Tienda</label>
        <input
        [(ngModel)]="marketPlace.contenido_mark"
          class="form-control"
          name="nombtienda"
          type="text"
          maxlength="50"
        />
      </div>
      <div class="contenido-form">
        <label class="etiqueta">Lugar</label>
        <input
        [(ngModel)]="marketPlace.lugar_mark"
          class="form-control"
          name="lugartienda"
          type="text"
          maxlength="50"
        />
      </div>
    </div>

    <div class="contenido-form">
      <label class="etiqueta">Imagen</label>
      <input
        class="form-control"
        name="titulo"
        type="file"
        (change)="onFileChange($event)"
      />
    </div>
    <button class="btncomp" (click)="guardar()">Guardar</button>
  </div>
  <div class="contenido">
    <h1 class="titulo-vistap">Vista Previa</h1>
    <div class="contvistap">
      <h2 class="titulovistpre">{{ producto.nombre_producto }}</h2>
      <h3 class="precio">${{ producto.precio_product }}</h3>
      <img class="imagen-pro" src="{{ image }}" width="200" height="200" />
      <p class="desc">{{producto.descripcion_producto}}</p>
    </div>
  </div>
</div>
