<div class="navbar">
  <div class="navbar_menuicon" id="navicon">
    <img src="/../../../assets/img/barras.png" alt="">
  </div>
  <div class="navbar_logo">
    <img src="/../../../assets/images/logo.png" alt="" />
  </div>
  <div class="navbar_search">
    <form method="" action="/">
      <input type="text" placeholder="Buscar personas.." [(ngModel)]="usuarioBuscar" name="buscar"/>
      <button><img src="/../../../assets/img/buscar.png" alt="" (click)="buscar()"></button>
    </form>
  </div>
  <div class="navbar_icons">
    <ul>
      <a [routerLink]="['/home']" style="color:white">
        <li><img src="/../../../assets/img/home.png" alt=""></li>
      </a>
      <li id="messagesmodal"><img src="/../../../assets/img/mensaje.png" alt=""><span id="notification">2</span></li>
      <li id="friendsmodal"><img src="/../../../assets/img/notificaciones.png" alt=""><span id="notification">{{cantSolicitudes}}</span></li>
    </ul>
  </div>
  <div class="navbar_user" id="profilemodal" style="cursor:pointer">
    <img *ngIf="usuario.imagen_usuario == ''" src="/../../../assets/images/user.jpg" alt="" />
    <img *ngIf="usuario.imagen_usuario !== ''"src="{{usuario.imagen_usuario}}" alt="" />
    <span id="navbar_user_top">{{usuario.nombres_user}} {{usuario.apellidos_user}}<br>
      <p>{{usuario.nom_usuario}}</p>
    </span><i class="fa fa-angle-down"></i>
  </div>
  </div>
    <!-- Modal Messages -->
    <div class="modal modal-comments">
      <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
      <div class="modal-title">
        <span>CHAT / MESSAGES</span>
        <a href="messages.html"><i class="fa fa-ellipsis-h"></i></a>
      </div>
      <div class="modal-content">
        <ul>
          <li>
            <a href="#">
              <img src="/../../../assets/images/user-7.jpg" alt="" />
              <span><b>Diana Jameson</b><br>Hi James! It’s Diana, I just wanted to let you know that we have to
                reschedule...<p>4 hours ago</p></span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/../../../assets/images/user-6.jpg" alt="" />
              <span><b>Elaine Dreyfuss</b><br>We’ll have to check that at the office and see if the client is on board
                with...<p>Yesterday at 9:56pm</p></span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/../../../assets/images/user-3.jpg" alt="" />
              <span><b>Jake Parker</b><br>Great, I’ll see you tomorrow!.<p>4 hours ago</p></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal Friends -->
    <div class="modal modal-friends">
      <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
      <div class="modal-title">
        <span>SOLICITUD DE AMISTAD</span>
      </div>
      <div class="modal-content">
        <ul>
          <li *ngFor="let amigo of solicitudes">
            <a>
              <img  *ngIf="amigo.imagen_usuario" src="{{amigo.imagen_usuario}}" alt="" />
              <span><b>{{amigo.nom_usuario}}</b><br>4 Amigos en Común</span>
              <button class="modal-content-accept" (click)="aceptar(amigo.id_usuario, amigo.id_amigo)">Aceptar</button><button class="modal-content-decline">Descartar</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal Profile -->
    <div class="modal modal-profile">
      <div class="modal-icon-select"><i class="fa fa-sort-asc" aria-hidden="true"></i></div>
      <div class="modal-title">
        <span>MI CUENTA</span>
        <a [routerLink]="['/configuracion']"><i class="fa fa-cogs"></i></a>
      </div>
      <div class="modal-content">
        <ul>
          <li>
            <a [routerLink]="['/configuracion']">
              <i class="fa fa-tasks" aria-hidden="true"></i>
              <span><b>Configuración de Perfil</b><br>Yours Configuración de Perfil</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span><b>Crear una Página</b><br>Crear Mi Página</span>
            </a>
          </li>
          <li>
            <a href="#" (click)="cerrarSesion()">
              <i class="fa fa-power-off" aria-hidden="true"></i>
              <span><b>Cerra Sesión</b><br>Cerrar Mi Sesión</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
