<div class="right_row">
  <div class="row border-radius">
    <div class="settings shadow">
      <div class="settings_title">
        <h3>Información Personal de &nbsp; </h3>
        <h4> {{perfil.nombres_user}} {{perfil.apellidos_user}}</h4>
      </div>
      <div class="settings_content">
        <style type="text/css">
          .settings_content ul li p {
            padding: 5px;
            padding-left: 20px
          }
        </style>
        <ul>
          <li>
            <p>
              <b>Username:</b>
              <br>
              {{perfil.nom_usuario}}
            </p>
          </li>
          <li>
            <p>
              <b>Acerca de mi:</b>
              <br>
              {{perfil.presentacion}}
            </p>
          </li>
          <li>
            <p>
              <b>Cumpleaños:</b>
              <br>
              Diciembre 14th, 1995
            </p>
          </li>
          <li>
            <p>
              <b>Lugar de Nacimiento:</b>
              <br>
              Machala, EL Oro, Ecuador
            </p>
          </li>
          <li>
            <p>
              <b>Vivo en:</b>
              <br>
              Machala, EL Oro, Ecuador
            </p>
          </li>
          <li>
            <p>
              <b>Ocupación:</b>
              <br>
              Estudiante
            </p>
          </li>
          <li>
            <p>
              <b>Se unió:</b>
              <br>
              April 31st, 2014
            </p>
          </li>
          <li>
            <p>
              <b>Genero:</b>
              <br>
              Masculino
            </p>
          </li>
          <li>
            <p>
              <b>Email:</b>
              <br>
              {{perfil.email_user}}
            </p>
          </li>
          <li>
            <p>
              <b>Número Telefonico:</b>
              <br>
              {{perfil.telefono}}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
