/*propaganda: aside*/

aside {
  height: 100vh;
  margin-bottom: 30px;
  margin-left: 60%;
  margin-right: 10%;
  padding: 0;
  left: 806px;
}
#anuncio1 {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  margin-top: -30%;
}
#anuncio1 h1 {
  font-size: 0.8em;
  text-align: left;
  padding: 0.2em 0em;
}
.user_perfil {
  height: 40px;
}
img.user_perfil {
  border: 0.1rem solid #F2F3F4;
  border-radius: 50%;
}

.nom_c_user::before {
  content: '\A';
  white-space: pre;
}
.nom_c_user {
  font-size: 0.8rem;
  color: #A2A2A2;
}
.seguidor {
  font-weight: bold;
}
.info_segidores::before {
  content: '\A';
  white-space: pre;
}
.info_segidores {
  color: #A2A2A2;
}
#anuncio1 h2 {
  font-size: 0.9em;
  color: #A2A2A2;
  text-align: left;
  padding: 0.5em 0em;
}
.footer-anuncio::before {
  content: '\A';
  white-space: pre;
}
.footer-anuncio {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 10%;
  text-align: left;
  color: #A2A2A2;
  font-size: 0.9em;
  word-wrap: break-word;
}
