<aside>
  <div id="anuncio1">
      <h1>
          <img alt="user_post" class="user_perfil" src="/../../../assets/img/usuario.jpg">
              {{usuario.presentacion}}
              <span class="nom_c_user">
                {{usuario.nombres_user}} {{usuario.apellidos_user}}
              </span>

      </h1>
      <h2>
          Sugerencias para ti
      </h2>
      <p>
          <span class="seguidor">
              <img alt="user_post" clas="user_post" src="/../../../assets/img/usuario.png">
                  username

          </span>
          <span class="info_segidores">
              username y n más siguen esta cuenta
          </span>
      </p>
      <div class="footer-anuncio">
          <p>
               Información -
               Ayuda -
               Prensa -
               Empleo -
               Privacidad  -
               Condiciones -
               Ubicaciones -
               Cuentas destacadas -
               Hashtags <br> <br>
              © 2020 Henry Simbaña - Bryan Gonzalez - Ricardo Valarezo
          </p>
      </div>
  </div>
</aside>
