<div class="navegacion">
  <nav>
      <span class="logo">
          <p>
              <a href="#">
                  Red Social
              </a>
          </p>
      </span>
      <div class="buscar">
          <input placeholder="Buscar" type="text">
          <span class="menu">
              <nav>
                  <ul>
                      <li>
                          <a href="#">
                              <img alt="inicio" src="/../../../assets/img/home.png">
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img alt="mensajes" src="/../../../assets/img/mensaje.png"/>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img alt="notificaciones" src="/../../../assets/img/notificaciones.png">
                              
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <img alt="usuario" src="/../../../assets/img/usuario.png">

                          </a>
                      </li>
                  </ul>
              </nav>
          </span>
      </div>
  </nav>
</div>
<div class="contenedor">
  <router-outlet></router-outlet>
</div>


