

     <section>
        <div class="contenedor-textos">
            <span class="cta" (click)="abrirModal('modalc','modal')">
                <img src="/../../assets/img/corazon.png" alt=""> 
            </span>
        </div>
     </section>
     <div id="modalc" class="modal-container">
         <div id="modal" class="modal modal-close">
             <p  class="close" (click)="cerrarModal('modalc','modal')">X</p>
             <button><img src="/../../assets/img/corazon.png" alt=""></button>
             <a href="/../../assets/img/corazon.png"></a>
         </div>
     </div>
     
