*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',sans-serif;
}
section{
  
  display: flex;
  justify-content: space-evenly;
  align-items: initial;
  padding: 0 40px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.cta{
  display: inline-block;
  padding: 0 20px;
  width: 50px;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 70px;
  background: #fff;
}
.ctatext{
  display: inline-block;
  padding: 0 20px;
  height: 10px;
  width: 50px;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 70px;
  background: #fff;
}
.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  background: rgba(0, 0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 40%;
  height: 50%;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0);
  border-radius: 10px;
  /*overflow: hidden;*/
}
.modalr{
  width: 40%;
  height: 50%;
  background: #fff;
  text-align: center;
  display: table-column;
  column-gap: 30em;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0);
  border-radius: 10px;
  /*overflow: hidden;*/
}
.close{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #c44a4a;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50px;
}
.texto{
  position: absolute;
  bottom: 5px;
  right: 1px;
  display: inline-block;
  width: 100%;
  height: 85%;
  background: #c44a4a;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50px;
}
.modal-close
{
  transform: translateY(-200%);
}
.modal >img
{
  height: 50%;
}
section > img{
  height: 100%;
}
@media screem and(max-width:1000px){
  section{
    flex-direction: column-reverse;

  }
  section > img{
    height: 40%;
  }
  .contenedor-textos{
    text-align: center;
  }
}
@media screem and(max-width:600px){
  
  section > img{
    height: 25%;
  }
  .modal img{
    height: 30%;
  }
}