<div class="mobilemenu">
  <div class="mobilemenu_profile">
      <img id="mobilemenu_portada" src="/../../../assets/images/portada.jpg" />
      <div class="mobilemenu_profile">
          <img id="mobilemenu_profile_pic" src="/../../../assets/images/user.jpg" /><br>
          <span>{{usuario.presentacion}}<br><p>150k seguidores / 50 seguidos</p></span>
      </div>
      <div class="mobilemenu_menu">
          <ul>
              <li><a href="index.html" id="mobilemenu-selected"><img src="/../../../assets/img/home.png"></a></li>
              <li >
                <div class="image-upload">
                  <label for="file-input">
                      <img src="/../../../assets/img/publicar.png" alt ="Click aquí para subir tu foto" title ="Click aquí para subir tu foto" >
                  </label>
                  <input id="file-input" type="file" accept="image/*"/>
              </div>
              </li>
              <li><a href="profile.html"><img src="/../../../assets/img/perfilM.png" alt=""></a></li>
              <li><a href="friends.html"><img src="/../../../assets/img/notificacionesM.png" alt=""></a></li>
              <li><a href="messages.html"><img src="/../../../assets/img/mensajeM.png" alt=""></a></li>
              <li class="primarymenu"><img src="/../../../assets/img/explode.png" alt=""></li>
          </ul>
              <hr>
          <ul>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#" (click)="cerrarSesion()">Cerrar Sesion</a></li>
          </ul>
      </div>
  </div>
</div>
