<div class="right_row">
  <div class="row border-radius">
      <div class="settings shadow">
          <div class="settings_title">
              <h3>Configuración de la Cuenta</h3>
          </div>
          <div class="settings_content">
            <ul>
                <li>
                    <p><b>Tema</b><br>Activar Modo Oscuro</p>
                    <label class="switch"><input (change)="cambiarTema($event)" type="checkbox" class="primary"><span class="slider round"></span></label>
                </li>
            </ul>
        </div>
      </div>
  </div>
</div>
<div class="suggestions_row">
  <app-menu-configuracion></app-menu-configuracion>
</div>


